<div class="wrapper">
    <header class="menu">
        <a href="BillGates" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Біл Гейтс</a>
        <a href="Resume" routerLinkActive="active">Резюме</a>
        <a href="/" routerLinkActive="active">Хобі</a>
    </header>
    <main>
        <router-outlet></router-outlet>
        <!-- <app-resume></app-resume> -->
        <!-- <app-BillGates></app-BillGates> -->
        <!-- <app-test></app-test> -->

    </main>
    <footer>
        <div>

        </div>
    </footer>
</div>